<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="cp-card">
        <mat-card-header>
            <mat-card-title>Registro de Usuário</mat-card-title>
            <mat-card-subtitle>Digite os dados abaixo para cadastrar um novo usuário.</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            <form [formGroup]="formRegister" #form="ngForm">
                <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex="grow">
                        <input matInput placeholder="Nome Completo" formControlName="nome" name="nome" required>
                        <mat-error>Por favor digite o nome completo.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow">
                        <input matInput placeholder="CPF" formControlName="cpf" name="cpf" required mask='000.000.000-00'>
                        <mat-error>Por favor digite o CPF.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow">
                        <input matInput placeholder="Email" formControlName="email" name="email" required>
                        <mat-error>Por favor digite o email.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow">
                        <input matInput placeholder="Senha" formControlName="senha" type="password" name="senha" required>
                        <mat-error>Por favor digite a senha.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow">
                        <input matInput placeholder="Confirmação da senha" formControlName="senhaConf" type="password" name="senhaConf" required>
                        <mat-error>Por favor digite a confirmação da senha.</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content><br />

        <mat-card-actions fxLayoutAlign="center center">
            <button mat-raised-button (click)="register()" color="primary"
                [disabled]="submitted || !form.valid">Registrar</button>
        </mat-card-actions>

        <mat-card-footer fxLayoutAlign="center center">
            <p class="cp-text-footer">
                <a href="#" (click)="toBack()">
                    <i class="material-icons">keyboard_return</i> Voltar
                </a>
            </p>
        </mat-card-footer>
    </mat-card>
</div>