<div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center">
    <mat-card fxFlex="100%" fxFlex.gt-xs="100%" class="cp-card">
        <mat-card-header>
            <mat-card-title>Clientes</mat-card-title>
            <mat-card-subtitle>Filtro de consulta</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form #form="ngForm">
                <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center" fxLayoutGap="32px">
                    <mat-form-field fxFlex="20">
                        <input matInput placeholder="Código" name="codigo" [ngModel]="customerDto.codigo">
                    </mat-form-field>
                    <mat-form-field fxFlex="60">
                        <input matInput placeholder="Nome" name="nome" [ngModel]="customerDto.nome">
                    </mat-form-field>
                    <mat-form-field fxFlex="20">
                        <input matInput placeholder="Número de inscrição" name="ni" [ngModel]="customerDto.ni">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="center center" fxLayoutGap="6px">
            <button mat-raised-button color="primary" (click)="loadList(form.value)">Pesquisar</button>
            <button mat-raised-button color="secondary" (click)="cleanFilter()">Limpar Filtro</button>
            <button mat-raised-button color="secondary" (click)="addCustomer()">Adicionar Cliente</button>
            <button mat-raised-button color="secondary" (click)="toBack()">Voltar</button>
        </mat-card-actions>

        <mat-card-footer fxLayoutAlign="start center">

        </mat-card-footer>
    </mat-card>
</div>

<customer-list *ngIf="showList" [customerDto]="customerDto"></customer-list>