<div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center">
    <mat-card fxFlex="100%" fxFlex.gt-xs="100%" class="cp-card">
        <mat-card-header>
            <mat-card-title>Produtos</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="center center" fxLayoutGap="6px">
            
        </mat-card-actions>

        <mat-card-footer fxLayoutAlign="start center">

        </mat-card-footer>
    </mat-card>
</div>